In [6]:
import numpy as np
from numpy import random
import pandas as pd
import scipy
from scipy import stats
import os
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
import pylab
from pylab import legend
from pylab import plot, show, title, xlabel, ylabel
from statsmodels.stats import proportion as ssp
from scipy.stats import chisquare
from scipy.stats import chi2_contingency
from statsmodels.stats import rates
from statsmodels.stats.rates import test_poisson
from statsmodels.stats.rates import test_poisson_2indep
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import scipy.stats as stats
import numpy as np
from scipy.stats import f

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp
import sklearn
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [10]:
os.chdir('D:/Numpy-Pandas')

In [15]:
os.listdir()

['AlgeriaFire.xlsx',
 'CDAC_DataBook.xlsx',
 'Churn_Modelling.csv',
 'covid_cases.xlsx',
 'data.xlsx',
 'Delivery_Food.xlsx',
 'Downloads',
 'Downloads - Copy',
 'EduData (1).xlsx',
 'EduData.xlsx',
 'elastic-cv.docx',
 'global_street_food.csv',
 'log_loss.xlsx',
 'ManHours.xlsx',
 'Marks.xlsx',
 'MetroMart.xlsx',
 'NumPy 1.pdf',
 'numpy1.py',
 'PANDAS PRACTICE QUESTIONS.docx',
 'pd.ipynb',
 'pd1.ipynb',
 'pd2.ipynb',
 'pd3.ipynb',
 'pd4.ipynb',
 'pd5.ipynb',
 'pd6.ipynb',
 'pd7.ipynb',
 'pd8.ipynb',
 'practice.csv',
 'Responses.xlsx',
 'SalesData (1).xlsx',
 'SalesData.xlsx',
 'subject.xlsx',
 'synthetic_employees.xlsx',
 'synthetic_sales_30k_10years.xlsx',
 'tests.docx',
 'Travel.xlsx',
 'Values.xlsx']

In [17]:
df=pd.read_excel('data.xlsx')

In [19]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [24]:
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [26]:
df.isna().sum()

YearsExperience    0
Salary             0
dtype: int64

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 612.0 bytes